<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>..:: Home Page ::..</title>
    <link href="data/estilo.css" media="screen" rel="stylesheet" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <script src="data/jquery-3.7.1.min.js"></script>

    <script>
    $(function(){
      $("#includedHeadContent").load("head.html");
    });
    </script>

    <script>
    $(function(){
      $("#includedFootContent").load("foot.html");
    });
    </script>

  <script>
    // Mostrar el botón al desplazarse hacia abajo
    window.addEventListener('scroll', function () {
      const botao = document.getElementById('voltarTopo');
      if (window.scrollY > 100) {
        botao.style.display = 'block';
      } else {
        botao.style.display = 'none';
      }
    });
  </script>
</head>
<body>

<!----------------------------------------------------------------------------->
<div id="includedHeadContent"> </div>
<!----------------------------------------------------------------------------->
<div class="container">


<!----------------------------------------------------------------------------->
<div class="box">

<h1>{{title}}</h1>

<div style="float: left; width: 40.0%;">
<center><img src="images/cover.png" border="0" /></center>
</div>

<div style="float: right; width: 60.0%;">
{{description}}
</div>

</div>
<!----------------------------------------------------------------------------->
<div id="reference" class="box">

<h1>Referencia</h1>

<p>
Descargue el
<a href="data/bibliography.bib">archivo en formato BibTeX</a>.
</p>

<pre>
{{bibtex}}
</pre>

</div>
<!----------------------------------------------------------------------------->
<div id="buybook" class="box">

<h1>Comprar libro impreso</h1>

<h2>Brasil</h2>

<a href="{{uiclap-bw-br-link}}" target="_blank">
<img src="images/uiclap.svg"
     border="0"
     style="display: block;float: left; width:15%; padding:15px" />
</a>

<p>
Usando este enlace, puede adquirir en Brasil una versión en
<b>blanco y negro</b> del libro
<a href="{{uiclap-bw-br-link}}" target="_blank">{{title}}</a>.
</p>

<div style="clear: both;"></div>

<a href="{{amazon-bw-br-link}}" target="_blank">
<img src="images/amazon.svg"
     border="0"
     style="display: block;float: left; width:15%; padding:15px" />
</a>

<p>
Usando este enlace, puede adquirir una versión en
<b>blanco y negro</b> del libro
<a href="{{amazon-bw-br-link}}" target="_blank">{{title}}</a>.
</p>

<div style="clear: both;"></div>

<h2>Resto del mundo</h2>

<a href="{{amazon-bw-world-link}}" target="_blank">
<img src="images/amazon.svg"
     border="0"
     style="display: block;float: left; width:15%; padding:15px" />
</a>

<p>
Usando este enlace, puede adquirir una versión en
<b>blanco y negro</b> del libro
<a href="{{amazon-bw-world-link}}" target="_blank">{{title}}</a>.
</p>

</div>
<!----------------------------------------------------------------------------->
<div id="downpdf" class="box">

<h1>Comprar libro digital</h1>

<a href="{{gplay-color-link}}" target="_blank">
<img src="images/google-play.svg"
     border="0"
     style="display: block;float: left; width:15%; padding:15px" />
</a>

<p>
Si desea obtener la versión digital en
<b>color</b> del libro -
<a href="{{gplay-color-link}}" target="_blank">{{title}}</a>,
puede descargarla utilizando el siguiente
<a href="{{gplay-color-link}}" target="_blank">enlace</a>.
</p>

<div style="clear: both;"></div>

<a href="{{free-link}}" target="_blank">
<img src="images/free-price-tag.svg"
     border="0"
     style="display: block;float: left; width:15%; padding:15px" />
</a>

<p>
Si desea obtener la versión gratuita del libro -
<a href="{{free-link}}" target="_blank">{{title}}</a>,
puede descargarla utilizando el siguiente
<a href="{{free-link}}" target="_blank">enlace</a>.
</p>

</div>
<!----------------------------------------------------------------------------->
<div id="screenshots" class="box">

<h1>Capturas de pantalla</h1>

<div style="display: flex; gap: 20px; justify-content: center; flex-wrap: wrap;">

    <div style="width: 45%;">
        <center>
            <img src="images/screenshot1.png"
                 border="0"
                 style="width: 100%;" />
        </center>
    </div>

    <div style="width: 45%;">
        <center>
            <img src="images/screenshot2.png"
                 border="0"
                 style="width: 100%;" />
        </center>
    </div>

</div>

</div>
<!----------------------------------------------------------------------------->
<div id="donate" class="box">

<h1>Donaciones</h1>

<h2>Cómprame un café ☕</h2>

<p>
Si aprecia mi trabajo y desea apoyar mis proyectos,
<a href="{{coffee-link}}">¡puede invitarme un café! ☕</a>
Su apoyo ayuda a mantener mis proyectos funcionando y me permite crear más herramientas útiles.
</p>

<h2>Usando tarjeta de crédito</h2>

<p>
Si aprecia mi trabajo y desea apoyar mis proyectos,
puede donarme <b>$3 USD</b> mediante
<a href="{{stripe-link}}">tarjeta de crédito</a>.
Su apoyo ayuda a mantener mis proyectos funcionando y me permite crear más herramientas útiles.
</p>

<h2>Mediante PIX</h2>

<p>

<a href="images/PixQR7.jpeg">
<img src="images/PixQR7.jpeg"
     border="0"
     style="display: block;float: left; width:7%" />
</a>

Si aprecia mi trabajo y se encuentra en Brasil,
puede enviarme un
<a href="images/PixQR7.jpeg"><b>PIX</b></a>
de <b>R$ 7</b>.
Su apoyo ayuda a mantener mis proyectos funcionando y me permite crear más herramientas útiles.

<div style="clear: both;"></div>

</p>

<h2>Mediante PayPal</h2>

<p>

Puede donar <b>10 reales brasileños</b> usando el siguiente enlace
a mi cuenta de PayPal con el ID:
<b>ballroomdancebackup</b>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">

<input type="hidden" name="cmd" value="_donations" />
<input type="hidden" name="business" value="77EX7RS7U6D56" />
<input type="hidden" name="item_name" value="Apoyar este proyecto" />
<input type="hidden" name="currency_code" value="BRL" />
<input type="hidden" name="amount" value="10" />

<input type="image"
       src="https://www.paypalobjects.com/es_XC/i/btn/btn_donateCC_LG.gif"
       border="0"
       name="submit"
       title="PayPal - La forma más segura y fácil de pagar en línea"
       alt="Hacer donaciones con PayPal" />

<img alt="Hacer donación con PayPal"
     border="0"
     src="https://www.paypal.com/es_XC/i/scr/pixel.gif"
     width="1"
     height="1" />

</form>

</p>

</div>
<!----------------------------------------------------------------------------->
<div id="bugs" class="box">

<h1>Reporte de errores</h1>

<p>
Puede realizar una consulta u observación sobre algún error
<a href="{{bug-link}}" target="_blank">aquí</a>.
</p>

</div>
<!----------------------------------------------------------------------------->



</div>

<button id="voltarTopo"
        onclick="window.scrollTo({ top: 0, behavior: 'smooth' });">
    ↑ Arriba
</button>

<!----------------------------------------------------------------------------->
<div id="includedFootContent" class="content"> </div>
<!----------------------------------------------------------------------------->


</body>
</html>

