
  <div class="boxfooter">
	<h3>Contato</h3>
    <div class="boxfooter-content">
    <ul class="services">
    <li><a href="{{email-link}}"><img width="24px" src="images/mail.svg">{{email}}</a></li>
    <li><a href="{{bug-link}}"><img width="24px" src="images/bug.svg">{{bug}}</a></li>
    </ul>
    </div>       
  </div>

  <div class="boxfooter">
    <h3>Social</h3>
    <div class="boxfooter-content">
      <ul class="services">
        <li><a href="{{x-link}}"><img width="24px" src="images/x.svg">{{x}}</a></li>
        <li><a href="{{youtube-link}}"><img width="24px" src="images/youtube.svg">{{youtube}}</a></li>
      </ul>
    </div>
  </div>

  <div class="boxfooter">
    <h3>RSS</h3>
    <ul class="services">
    <li><a href="{{rss-link}}"><img width="24px" src="images/feed.svg">{{rss}}</a></li>
    </ul>
  </div>



